@import 'tailwindcss';

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #fff;

  --color-primary-50: var(--color-gray-50);
  --color-primary-100: var(--color-gray-100);
  --color-primary-200: var(--color-gray-200);
  --color-primary-300: var(--color-gray-300);
  --color-primary-400: var(--color-gray-400);
  --color-primary-500: var(--color-gray-500);
  --color-primary-600: var(--color-gray-600);
  --color-primary-700: var(--color-gray-700);
  --color-primary-800: var(--color-gray-800);
  --color-primary-900: var(--color-gray-900);
  --color-primary-950: var(--color-gray-950);

  --color-accent-50: var(--color-violet-50);
  --color-accent-100: var(--color-violet-100);
  --color-accent-200: var(--color-violet-200);
  --color-accent-300: var(--color-violet-300);
  --color-accent-400: var(--color-violet-400);
  --color-accent-500: var(--color-violet-500);
  --color-accent-600: var(--color-violet-600);
  --color-accent-700: var(--color-violet-700);
  --color-accent-800: var(--color-violet-800);
  --color-accent-900: var(--color-violet-900);
  --color-accent-950: var(--color-violet-950);

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-heading:
    var(--font-heading), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  [type='search']::-webkit-search-cancel-button,
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}
